.filterText {
    text-align: center;
    position: relative;
}

.filterButtons {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.marginBtn {
    margin-right: 10px !important;
}

.filterGroup {
    text-align: center !important;
    height: 100px;
    width: 100%;
}

.filterArea {
    text-align: center !important;
    width: 100%;
}

.editForm {
    display: none;
    height: 20%;
}

.deleteForm {
    display: none;
    height: 20%;
}

.interestForm {
    display: none;
    height: 20%;
}

.btnGroup {
    text-align: center !important;
}

.deleteText {
    float: left;
    position: relative;
}

.editTextFields {
    float: left;
    position: relative;
}

.interestTextField {
    float: left;
    position: relative;
    width: 70%;
    padding-bottom: 1%;
}

.interestField {
    width: 100%;
}

.marginField {
    margin-right: 10px !important;
}

.input {
    margin-left: 5% !important;
    width: 90% !important;
    text-align: center;
}

.greenText {
    color: limegreen;
}

.tradeCard {
    min-height: 15%;
    height: 20% !important;
    overflow-y: scroll !important;
}

.itemCard {
    height: 15% !important;
}

/*.textField2{*/
/*    margin-left:5% !important;*/
/*    width:40%;*/
/*}*/

/*.textField1{*/
/*    width:40%;*/
/*}*/

.icons {
    float: right;
    position: relative;
    margin-top: 1.5%;
}

.nothingToDisplay {
    display: none;
    text-align: center;
}

.serverError {
    display: none;
    text-align: center;
    color: red;
}

.cardText {
    float: left;
    position: relative;
}

.icon1 {
    float: right;
    margin-right: 30px;
}

.interests {
    display: none;
}

.interestsText{
    float: left;
}

.noInterests {
    display: none;
}

.icon2 {
    float: right;
}

.icon3 {
    float:right;
    margin-right: 30px;
}

