.filterText{
    text-align:center;
    position:relative;
}

.filterButtons{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.marginBtn{
    margin-right:5px !important;
}

.filterGroup{
    text-align:center !important;
    height: 100px;
    width:100%;
}

.filterArea{
    text-align:center !important;
    width:100%;
}

.editForm{
    display:none;
    height:100px;
}

.btnGroup{
    text-align:center !important;
}

.editTextFields{
    float:left;
    position:relative;
}

.marginField{
    margin-right: 10px !important;
}

.input{
    margin-left:5% !important;
    width: 90% !important;
    text-align:center;
}

.fullCard{
    height: 105px !important;
}

/*.textField2{*/
/*    margin-left:5% !important;*/
/*    width:40%;*/
/*}*/

/*.textField1{*/
/*    width:40%;*/
/*}*/

.icons{
    float:right;
    position:relative;
    margin-top: 1.5%;
}

.cardText{
    float:left;
    position:relative;
}

.icon1{
    float:right;
    margin-right:30px;
}

.icon2{
    float:right;
}

