.filterText{
    text-align:center;
    position:relative;
}

.buttons{
    text-align:center;
    position:relative;
}

.marginBtn{
    margin-right:5px !important;
}

.radioGroup{
    margin-left:10%;
    height:100px;
}